# Ignore Git files
.git
.gitignore

# Ignore node_modules in any subdirectory
**/node_modules

# Ignore OS-specific files
.DS_Store
__MACOSX

# Ignore build output directories
**/dist

# Ignore Python cache files
**/__pycache__
**/*.py[cod]

# Ignore virtual environment directories
env
venv

# Ignore log files
*.log

